.row >div {
	padding: 10px;
	background: #ddd;
	border: 1px solid #fff;
	text-align: center;
}
.row{
	margin: 40px auto;
}
.imagen1{
	float: right;
}
.imagen2{
	float: left;
}

.row1{
	padding: 10px;
	background: #ddd;
	border: 1px solid #fff;
	text-align: center;
}
.row1{
	margin: 40px auto;
}